:root {
  --header-height: 100px;
}

.header {
  width: 100%;
  height: var(--header-height);
  
  position: fixed;
  top: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  
  position: fixed;
  top: var(--header-height);
  bottom: 0;
}